/* 공통 */
*{margin:0;padding:0;}
ul li{list-style:none;}

body{
    font-size:16px;
    text-align:center;
}

form, input{
    text-align:center;
    background:none;
    border:none;
}

form input:focus-visible{
    outline:none;
 }

.hidden{
    display:none;
}


.section_left, .section_right, #clock, #date, #login, #todo, #quote, #weather{
    position:absolute;
}

/* section */
.section_left, .section_right{
    height:90%;
    top:50%;
    transform:translateY(-50%); 
}
.section_left{
    width:30%;
    left:2%;
    background:rgba(255, 255, 255, 0.5);
    border-radius:30px;
}
.section_right{
    width:60%;
    right:2%;
    border-radius:30px;
}


/* background */
.background{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
}

/* clock */
#clock{
    font-size:5vw;
    left:50%;
    transform:translateX(-50%);
    top:10%;
    color:#333;
}

#date{

}

/* todo */
#todo{
    width:80%;
    left:50%;
    transform:translateX(-50%);
    top:30%;
}

#todo-form input[type="text"]{
    width:100%;
    font-size:2em;  
}

#todo-form input[type="text"]::placeholder{
    color:#333
}

#todo-list{
    padding-top:5%;
    font-size:1.5em;
}

#todo-list span{
    vertical-align:middle;
}

#todo-list button{
    margin-left:1vw;
    padding:1.5%;
    background-color:#fff;
    border:none;
    border-radius:30%;
}

/* weather */
#weather{
    right:1%;
    top:1%;
}
#weather span{
    
}

/* login */
#login{
    width:100%;
    left:50%;
    transform:translateX(-50%);
    top:40%;
    font-size:3em;
    font-weight:bold;
    color:#fff;
}

#login-form input[type="text"]{
    width:80%;
    border-bottom:2px solid #fff;
    font-size:1em;
    color:#fff;
}

#login-form input[type="submit"]{
    text-indent:-9999px;
}

#greeting{
    font-size:1.3em;
    color:#fff;
}

#greeting{}

/* quote */
#quote{
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    width:100%;
    font-size:1em;
    color:#fff;
}

#quote span{
    display:block;
    position:relative;
}

#quote span:first-child{
    opacity:0;
    transform:translateY(20px);
    transition:all 0.5s ease-in-out;
}

#quote span:first-child.on{
   opacity:1;
   transform:translateY(10px);
}

#quote span:last-child{
    font-style:italic;
    transform:translateY(0px);
    transition:all 0.5s ease-in-out;
}

#quote span:last-child.on{
    transform:translateY(10px);
}

